<div class="alert alert-info"
     role="alert">
  <h1>{{plushModel.name}}</h1>

  <div class="container">
    <button *ngIf="canLock"
            class="btn btn-primary btn-lg"
            (click)="lock()" translate>
      take
    </button>

    <button *ngIf="canUnLock"
            class="btn btn-warning btn-lg"
            (click)="unlock()"
            translate>
      release
    </button>
  </div>

  <div *ngIf="lockerName">
    <h3>
      <span translate="ownedby"></span>
      {{lockerName}}
    </h3>
  </div>

  <br>

  <div>
    <img [src]="imageToShow"
         alt="plush image"
         class="img-responsive"
         *ngIf="imageToShow !== undefined; else noImageFound">

    <ng-template #noImageFound>
      <label>image loading</label>
    </ng-template>
  </div>
</div>
