<div class="container">
  <h1 translate="settings"></h1>

  <div class="mb-3">
    <label class="form-label" translate="lang"></label>

    <select id="lang"
            class="form-control"
            name="lang"
            [(ngModel)]="currentLang"
            (ngModelChange)="onCurrentLangChange($event)">
      <option *ngFor="let lang of langs"
              [ngValue]="lang"
              translate="">
        {{lang}}
      </option>
    </select>
  </div>

  <div class="form-check">
    <input type="checkbox"
           #cbFullScreen
           class="form-check-input"
           [(ngModel)]="isFullScreen"
           (ngModelChange)="onFullScreenChange(cbFullScreen.checked)"/>

    <div class="form-check-label" translate="fullScreen"></div>
  </div>

</div>

<div class="container-md pt-5">
  <app-settings-create-new-plush/>
</div>
