<div class="container">
  <h1 translate="settings_title"></h1>

  <div class="mb-3">
    <label for="lang" class="form-label" translate="settings_lang"></label>

    <select id="lang"
            class="form-control"
            name="lang"
            [(ngModel)]="currentLang"
            (ngModelChange)="onCurrentLangChange($event)">
      <option *ngFor="let lang of langs"
              [ngValue]="lang">
        {{lang | translate}}
      </option>
    </select>
  </div>

  <div class="form-check">
    <input type="checkbox"
           #cbFullScreen
           class="form-check-input"
           [(ngModel)]="isFullScreen"
           (ngModelChange)="onFullScreenChange(cbFullScreen.checked)"/>

    <div class="form-check-label" translate="settings_fullScreen"></div>
  </div>

</div>

<div class="container-md pt-4">
  <router-outlet></router-outlet>
</div>
