<div class="accordion">
  <div *ngIf="plushes.length===0">
    <h3 translate="settings-plush-update_no_plushes_title"></h3>
  </div>

  <div class="accordion-item" *ngFor="let plushModel of plushes">
    <h2 class="accordion-header">
      <div class="accordion-button"
           [ngClass]="{'collapsed': !isEditingMode(plushModel.id)}"
           (click)="setInEditionMode(plushModel.id)">
        <div class="row col-sm-12">
          <div class="col-sm-6">
            {{plushModel.name}}
          </div>
          <small class="col-sm-2">
            order: {{plushModel.order}}
          </small>
        </div>
      </div>
    </h2>
    <div class="accordion-collapse collapse"
         [ngClass]="{'show': isEditingMode(plushModel.id)}">
      <div class="accordion-body">
        <div *ngIf="responseSuccess !== undefined"
             class="mb-3 alert"
             [ngClass]="{'alert-primary': responseSuccess, 'alert-danger': !responseSuccess}"
             role="alert">
          {{ responseText | translate }}
        </div>

        <app-settings-plush-form
          [plushMachine]="plushModel"
          [clawMachineId]="clawMachineId"
          (formSubmited)="sendUpdatePlush($event)"
          (deleteSubmited)="sendDeletePlush($event)"></app-settings-plush-form>
      </div>
    </div>
  </div>
</div>
