<h2 translate="settings-claw-machine_title"></h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <button
      class="nav-link"
      [ngClass]="{'active': currentTab === 'create'}"
      type="button"
      (click)="setActiveTab('create')"
      translate="settings-claw-machine_create_link">
    </button>
  </li>
  <li class="nav-item">
    <button
      class="nav-link"
      [ngClass]="{'active': currentTab === 'update'}"
      type="button"
      (click)="setActiveTab('update')"
      translate="settings-claw-machine_update_link">
    </button>
  </li>
</ul>

<div class="container pt-3">
  <ng-template settingsContent></ng-template>
</div>
