<div class="container-fluid">
  <h1>Sprint {{sprint.name}}</h1>
</div>
<div class="container">
  <table class="table table-striped">
    <tbody>
      <tr >
        <td class="col-sm-2" translate>start</td>
        <td>{{sprint.start | date : 'dd/MM/yyyy'}}</td>
      </tr>
      <tr >
        <td class="col-sm-2" translate>end</td>
        <td>{{sprint.end | date : 'dd/MM/yyyy'}}</td>
      </tr>
      <tr >
        <td class="col-sm-2" translate>complexity</td>
        <td>{{sprint.complexity}}</td>
      </tr>
      <tr >
        <td class="col-sm-2" translate>engagedComplexity</td>
        <td>{{sprint.engagedComplexity}}</td>
      </tr>
      <tr >
        <td class="col-sm-2" translate>closedComplexity</td>
        <td>{{sprint.closedComplexity }}</td>
      </tr>
      <tr >
        <td class="col-sm-2" translate>businessvalue</td>
        <td>{{sprint.businessValue}}</td>
      </tr>
      <tr >
        <td class="col-sm-2" translate>engagedBusinessValue</td>
        <td>{{sprint.engagedBusinessValue }}</td>
      </tr>
      <tr >
        <td class="col-sm-2" translate>closedBusinessValue</td>
        <td>{{sprint.closedBusinessValue }}</td>
      </tr>
    </tbody>
  </table>
</div>
