<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!isFullScreen">
  <a class="navbar-brand" ui-sref="graph" routerLink="/">
    <label>
      <img style="max-width: 50px" src="/assets/minion.png" alt="Banana icon">
      Banana
    </label>
  </a>

  <button class="navbar-toggler"
          type="button"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
       [ngbCollapse]="isCollapsed">

    <div>
      <div class="input-group">
        <span class="input-group-text" translate="yourname"></span>
        <input type="text"
               class="form-control"
               [(ngModel)]="memberName"
               (ngModelChange)="onMemberNameChange()">
      </div>
    </div>

    <ul class="navbar-nav w-100">
      <li class="nav-item" *ngFor="let clawMachine of clawMachines">
        <a class="nav-link"
           routerLink="/claw-machine/{{clawMachine.id}}"
           routerLinkActive="active">
          {{ clawMachine.name }}
        </a>
      </li>
    </ul>

    <ul class="navbar-nav my-lg-0 px-3">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/settings"
           routerLinkActive="active">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
